Flask
Flask-SQLAlchemy
python-dotenv
openai
pymupdf
opencv-python-headless 
ezdxf                 
python-docx
reportlab
flask-cors
psycopg2-binary
PyMuPDF
gunicorn
Werkzeug
requests
pdf2image
fpdf2

